<% layout('./layout/page') -%>

<p class="lead"><span style="margin-right: 10px"><i data-feather="lock" style="color: #007bff"></i></span>Для просмотра страницы необходимо <a href="/login">авторизироваться!</a></p>
