body {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

select, button, input {
  margin-left: 10px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .3em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
}
button {
  cursor:pointer;
}

select:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
select:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

button:hover{
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

button:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}



input:focus {
  background: white;
}

h1, h2 {
  padding: 15px 0 5px 0;
  margin: 0 0 15px 0;
  color: #000;
}

.header {
  height: 30px;
  font-size: 0.8em;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 45%;
  padding-top: 5px;
  margin-bottom: 50px;
}

.content {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  border: solid 1px #f2f2f2;
  border-radius: 3px;
  padding: 1%;
  padding-top: 11px;
}

.content select{
  width: 120px;
}

.content input {
  width: 120px;
}
.content .lead {
  text-align: center;
}

.bar_tittle {
  width: auto;
  padding: 2px;
  margin-bottom: 10px;

}

.bar_tittle {
  padding: 3px;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
}

.bar_content div {
  margin-bottom: 10px;

}

.bar_content div.open {
  display: block;
}

#inps{
  margin-left: 8%;
}

#but {
  margin-right: 15px;
}

table {
  width: 100%;  
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  color: #686461;
}
.tableHeader { 
  padding: 10px;
  color: white;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  border-radius: 5px;
  background: dodgerblue;
}
th {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: left;
}
td {
  padding: 10px;
}

tr:nth-child(odd) {
  background: white;
}

tr {
  display: none;
}

.open {
 display: table-row;
}
tr:nth-child(even) {
  background: #E8E6D1;
}

tr:hover {
  background-color: skyblue;
  height: 52px;
  transition-duration: 0.5s; 
}

.menu_bar img {
  display: flex;
  float: right;
  margin-left: 10px;
  user-select: none;
  padding: 0.7%;
}

.menu_bar {
  width: 800px;
  margin-right: auto;
    margin-left: auto;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
}

.menu_bar img {
  margin-right: 20px;
  cursor:pointer;
}
.blanks_change_data {
  margin-bottom: 3px;
}

.tooltips {
      position: fixed;
      padding: 10px 20px;
      /* красивости... */

      border: 1px solid #b3c9ce;
      border-radius: 4px;
      text-align: left;
      font: italic 14px/1.3 arial, sans-serif;
      color: #333;
      background: #fff;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    }

.tooltips .blanks_change_data {
    width: 100px;
   }

.content_element {
  float: left;
  width: 158px;
}

.content_element_span {
  margin-left: 20px;
}

.content_element_change_oftions {
float: left;
width: 200px;

}

.blanks_change_data_exit {
  margin-top: 5px;
}

.drop-down {
    font-size: 18px;
    float: right;
    margin-right: 50px;
    margin-bottom: 5px;
    color: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
    text-shadow: 1px 1px 1px #686461;
    cursor:pointer;
    text-align: center
}

.card-deck {
  margin-bottom: 12px;
}

.card-img-top {
  height: 235px;
}

.login {
    margin-left: 35%;
    margin-right: 35%;
}
.login .login-form input{
  width: 190px;
}

.login .login-form .btn {
  margin-top: 30px;
  background: #007bff;
  margin-bottom: 40px;
}

.login .login-form input {
  margin-bottom: 2px;
}

.login .login-form h1 {
	text-align: center;
}

.login .login-form img {
	margin-top: 30px;
    margin-left: 38%;
    margin-right: 33%;
}

.nav-link {
  margin-right: 10px;
}

