<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Calculator</title>
  

  <link rel="stylesheet" href="./vendor/bower_components/bootstrap/dist/css/bootstrap.css" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css"/>

  <script src="./vendor/bower_components/jquery/dist/jquery.js"></script>
  <script src="./vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="./vendor/feather-icons/dist/feather.js"></script>

</head>
<body>

  <div class="main"> 

  <%-partial('../partials/topNavigation')%>

    <div class="content">
        <div class="menu_bar"></div> 
        <div class="bar_tittle"></div>
        <div class="bar_content">

      <%-body -%>
          
          <script>
            feather.replace()
          </script>
        </div>
    </div>

    <div class="footer">
    </div>

  </div>

<script>

</script>
</body>
</html>